body{
    --culoare-fundal:rgb(50, 13, 19);
    --margine-pagina:100px;
    --culoare-contur:rgb(88, 24, 24);
    --text-colour:beige;
    --culoare-pata: beige;
    color:var(--text-colour);
    background-color:var(--culoare-fundal);
    text-decoration: rgb(255, 42, 0);   
    margin: 0;
    padding: 0;
}
 

main{

    /* margin-left:var(--margine-pagina);
    margin-right:var(--margine-pagina); */
    max-width: 1400px; 
    margin: 40px auto; /* 40px sus/jos, AUTO stânga/dreapta pentru CENTRARE */
    padding: 0 20px;
}

/* toate h1 care se afla in header*/
header h1 {
    font-family: 'Manufacturing Consent', sans-serif;
    font-size: 5.5rem;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 20px;
}

header p{
    padding-left: 20px;
    font-size: 2rem;
    margin-top: 0;
    /* text-align: center; */
}

a:link{
    color:rgb(233, 109, 37);
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color:rgb(143, 67, 23);
    background-color: transparent;
    text-decoration: none;
}

a[href^="http"]::before {
    content: "⮳ ";
    font-size: 1.5em; 
    transition: color 0.3s ease; 
}

a[href^="http"]:hover::before {
    color: var(--culoare-decorare);
}
/* animatie hover link */
main a {
    
    background-image: radial-gradient(circle, var(--culoare-pata) 0%, var(--culoare-pata) 40%, transparent 80%, transparent 100%);
    
    background-position: center; 
    background-size: 0%;     
    background-repeat: no-repeat;
    
    transition: background-size 0.3s ease-out; 
    
    border: 1px solid transparent; 
    padding: 2px 5px; 
    border-radius: 3px;
}

main a:hover {
    background-size: 100%;
}

main a:active {
    border: 1px solid var(--culoare-contur);
}

/*resetare spatiere*/
figure{
    margin:0;
}

.taburi-iframe > a:hover{
    background-color:var(--culoare-contur);
    color: white;
}

/* .taburi-iframe{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.container-iframe{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.taburi-iframe > a{
    display: inline-block;
    padding: 10px;
    background-color: var(--culoare-fundal);
    border: 1px solid var(--culoare-contur);
    text-decoration: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 10px;
    transition: all 0.3s;
}


/* #grid-pagina{
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas: "welcome welcome welcome"
                         "promotii promotii anunturi"
                         "fig1 orar fig3"
                         "fig2 fig4 fig5"
                         "produse produse produse"
                         "index-intrebari index-intrebari index-intrebari"
                         "evenimente evenimente galerie-statica"
                         ;
}
/*toti fii (descendenti directi) div-ului grid-pagina*/

* {
    box-sizing: border-box; /* Esențial pentru ca padding-ul să nu "umfle" elementele */
}
#grid-pagina > * {
    border:1px solid var(--culoare-contur);
    box-shadow: 0px 0px 5px var(--culoare-contur);
    padding: 10px;
} 
/* 
#grid-pagina {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-areas: 
        "welcome      welcome      welcome         welcome"        
        "orar         orar         personal-picks  personal-picks" 
        "evenimente   statistici   personal-picks  personal-picks" 
        "useri-online statistici   personal-picks  personal-picks" 
        "anunturi     anunturi     index-intrebari index-intrebari"
        "produse      produse      produse         produse     ";      
}    */

/*toti fii (descendenti directi) div-ului grid-pagina*/
#grid-pagina > * {
    border:1px solid var(--culoare-contur);
    box-shadow: 0px 0px 5px var(--culoare-contur);
    padding: 10px;
}

#produse h2 {
    grid-column: 1 / span 2; 
    text-align: center;
    margin-top: 0;
}

#sectiune-formula{
    grid-area: sectiune-formula;
}

#welcome{
    grid-area: welcome;
}
#promotii{
    grid-area: promotii;
}
#video-section{
    grid-area: video-section;
}
#prod-dm{
    grid-area: auto;
}
#prod-tm{
    grid-area: auto;
}
#statistici{
    grid-area: statistici;
}
#useri-online{
    grid-area: useri-online;
}
#anunturi{
    grid-area: anunturi;
}
#orar{
    grid-area: orar;
}
 
#fig1{
    grid-area: fig1;
}
#fig2{
    grid-area: fig2;
}
#fig3{
    grid-area: fig3;
}
#produse{
    grid-area: produse;
    display: grid; /* Îl facem grid la rândul lui */
    grid-template-columns: 1fr 1fr; /* Două coloane egale în interiorul cadranului */
    gap: 15px
}
#index-intrebari{
    grid-area: index-intrebari;
}

#personal-picks{
    grid-area: personal-picks
}
#evenimente{
    grid-area: evenimente;
}
/* table, th, td{
    border: 1px solid var(--culoare-contur);

} */

#tab-orar td, #tab-orar{
    border: 1px solid var(--culoare-contur);
}
#tab-orar{
    border-collapse: collapse;
}

#tab-orar tbody tr:nth-child(even){
    background-color:var(--culoare-contur);
}
.alt-color{
    background-color: var(--culoare-fundal);
}

.fg-img img {
    width: 100%;       /* Fills the width of the grid area */
    height: auto;      /* Maintains aspect ratio */
    display: block;    /* Removes the annoying bottom gap */
     /* Optional: keeps them uniform if they aren't perfect squares */
}

@media screen and (max-width:700px) {
    body{
        --margine-pagina:50px;
    }

    #grid-pagina{
    display: grid;
    /*grid-template-columns: 3fr 1fr 1fr;*/
    grid-template-areas: "welcome welcome "
                         "promotii promotii"
                         "anunturi anunturi"
                         "fig1 orar"
                         "fig2 orar"
                         "fig3 orar"
                         "produse produse"
                         "index-intrebari index-intrebari"
}
}

@media screen and (max-width:1200px) {
    body{
        --margine-pagina:50px;
    }

    #grid-pagina{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "welcome welcome "
                         "promotii promotii"
                         "anunturi anunturi"
                         "fig1 orar"
                         "fig2 orar"
                         "fig3 orar"
                         "produse produse"
                         "index-intrebari index-intrebari"
                         "video-section video-section"
}
}
body{
    --culoare-fundal:rgb(50, 13, 19);
    --margine-pagina:100px;
    --culoare-contur:rgb(88, 24, 24);
    --culoare-selected:rgb(233, 109, 37);
    --culoare-decorare: rgb(255, 42, 0);
    --text-colour:beige;
    color:var(--text-colour);
    background-color:var(--culoare-fundal);
    text-decoration: var(--culoare-decorare);
    margin: 0;
    padding: 0;
}
 

main{

    /* margin-left:var(--margine-pagina);
    margin-right:var(--margine-pagina); */
    max-width: 1400px; 
    margin: 40px auto; /* 40px sus/jos, AUTO stânga/dreapta pentru CENTRARE */
    padding: 0 20px;
}

a:link{
    color: var(--culoare-selected);
    background-color: transparent;
    text-decoration: none;
}


a:visited{
    color:var(--culoare-selected);
    background-color: transparent;
    text-decoration: none;
}

/*resetare spatiere*/
figure{
    margin:0;
}

.taburi-iframe > a:hover{
    background-color:var(--culoare-contur);
    color: white;
}

.taburi-iframe{
    display: flex;
    flex-direction: column;
}

.container-iframe{

    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: flex-end; 
    gap: 0;
    width: 100%;
}

.taburi-iframe > a{
    display: block;
    padding: 15px 20px;
    background-color: var(--culoare-fundal); 
    color: white;
    text-decoration: none;

    border: 1px solid var(--culoare-contur);
    border-left: none; 

    border-top-right-radius: 70px;
    border-bottom-right-radius: 5px;
    
    margin-bottom: 5px;
    transition: all 0.3s ease;
    /* white-space: nowrap;  */
}


/* #grid-pagina{
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas: "welcome welcome welcome"
                         "promotii promotii anunturi"
                         "fig1 orar fig3"
                         "fig2 fig4 fig5"
                         "produse produse produse"
                         "index-intrebari index-intrebari index-intrebari"
                         "evenimente evenimente galerie-statica"
                         ;
}
/*toti fii (descendenti directi) div-ului grid-pagina*/

#grid-pagina {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-areas: 
        "welcome      welcome      welcome         welcome"        
        "orar         orar         personal-picks  personal-picks" 
        "evenimente   statistici   personal-picks  personal-picks" 
        "useri-online statistici   personal-picks  personal-picks" 
        "anunturi     anunturi     index-intrebari index-intrebari"
        "prod-dm      prod-dm      prod-tm         prod-tm"
        "video-live   video-live   video-live      video-live"
        "ifr-video-playlist ifr-video-playlist sectiune-formula sectiune-formula"
        "video-section video-section video-section video-section "
        /* "sectiune-formula sectiune-formula sectiune-formula sectiune-formula";       */
}   

/*toti fii (descendenti directi) div-ului grid-pagina*/
#grid-pagina > * {
    border:1px solid var(--culoare-contur);
    box-shadow: 0px 0px 5px var(--culoare-contur);
    padding: 10px;
}

/* #produse h2 {
    grid-column: 1 / span 2; 
    text-align: center;
    margin-top: 0;
} */

#ifr-video-playlist iframe{
    display: block;
    margin: 0 auto; /*imparte marginile din st si dr in mod egal, iar cele de sus is jos sunt 0*/
}

#welcome{
    grid-area: welcome;
}
#ifr-video-playlist{
    grid-area: ifr-video-playlist;  
}
#promotii{
    grid-area: promotii;
}
#prod-dm{
    grid-area: prod-dm;
}
#prod-tm{
    grid-area: prod-tm;
}
#statistici{
    grid-area: statistici;
}
#useri-online{
    grid-area: useri-online;
}
#anunturi{
    grid-area: anunturi;
}
#orar{
    grid-area: orar;
}
#video-live{
    grid-area: video-live;
}
 
#fig1{
    grid-area: fig1;
}
#fig2{
    grid-area: fig2;
}
#fig3{
    grid-area: fig3;
}

#index-intrebari{
    grid-area: index-intrebari;
}

#personal-picks{
    grid-area: personal-picks
}
#evenimente{
    grid-area: evenimente;
}
/* table, th, td{
    border: 1px solid var(--culoare-contur);

} */

#tab-orar td, #tab-orar{
    border: 1px solid var(--culoare-contur);
}
#tab-orar{
    border-collapse: collapse;
}

#tab-orar tbody tr:nth-child(even){
    background-color:var(--culoare-contur);
}
.alt-color{
    background-color: var(--culoare-fundal);
}

.fg-img img {
    width: 100%; 
    height: auto;    
    display: block;  

}

.video-metal {
    width: 80%; 
    min-width: 320px; 
    max-width: 900px;
    display: block;
    margin: 10px auto; 
}

::cue {
    background-image: linear-gradient(to right, #4a0000, #1a1a1a);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: none; 
}

/* ORAR ---------------------------------*/
.tabel-container {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 20px;
}


#tab-orar {
    width: 100%;
    border-collapse: collapse; 
    border: 6px double var(--culoare-contur); 
}

#tab-orar caption {
    caption-side: bottom;
    padding-top: 10px;
    font-style: italic;
    color: var(--text-colour);
}

#tab-orar th, 
#tab-orar td {
    border: 1px solid var(--culoare-contur);
    padding: 10px;
    text-align: center;

    transition: all 0.75s ease; 
}

#tab-orar th:nth-child(even),
#tab-orar td:nth-child(even) {
    color: var(--culoare-selected);
}


#tab-orar th:nth-child(odd),
#tab-orar td:nth-child(odd) {
    color: var(--text-colour);
}


#tab-orar tbody tr:hover td {
    background-color: var(--culoare-contur); 
    color: white;
    border-width: 5px; 
}

#tab-orar tbody tr:hover td:nth-child(even),
#tab-orar tbody tr:hover td:nth-child(odd) {
    color: white;
}


@media screen and (max-width:700px) {
    body{
        --margine-pagina:50px;
    }

    #grid-pagina{
    display: grid;
    /*grid-template-columns: 3fr 1fr 1fr;*/
    grid-template-areas: "welcome welcome "
                         "promotii promotii"
                         "anunturi anunturi"
                         "fig1 orar"
                         "fig2 orar"
                         "fig3 orar"
                         "produse produse"
                         "index-intrebari index-intrebari"
                         "video-section video-section"
}
}

@media screen and (max-width:1200px) {
    #grid-pagina {
        grid-template-areas: 
            "welcome        welcome"
            "promotii       promotii"
            "anunturi       anunturi"
            "fig1           orar"
            "fig2           orar"
            "fig3           orar"
            "prod-dm        prod-tm" 
            "index-intrebari index-intrebari"
            "video-live      video-live"
            "video-section video-section"; 
    }
}