<footer id="footer">
        <address>
            <p><small>Copyright &copy; 2026 Bujor Stefan</small></p>
            <strong>Contact: </strong><br>
            <a href="emailfictiv@gmail.com">emailfictiv@gmail.com</a><br>
            <a href="tel+40712412312">0712412312<br></a>
            <strong>Instagram:</strong> 
            <a href="https://www.instagram.com/" target="_blank">Trimite-ne un mesaj</a><br> 

            <a href="https://www.google.com/maps/search/?api=1&query=Facultatea+de+Matematica+si+Informatica+Bucuresti" target="_blank">
            Strada Academiei 14, Bucuresti
            </a><br><br>
        
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2711.6331073575957!2d26.097011775882102!3d44.435539301482265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFaculty%20of%20Mathematics%20and%20Computer%20Science!5e1!3m2!1sen!2sro!4v1772964452636!5m2!1sen!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        
        </address>
        <p>Orar formt PDF:</p>
        <object data="/Resurse/imagini/docs/orar.pdf"></object>
        <a href="#welcome" id="buton-sus">
            <div class="diamant"></div>
            <div class="triunghi"></div>
            <span class="tooltip-sus">Mergi la începutul paginii</span>
        </a>
        <p class="banner">Acesta este un proiect școlar!</p>
    </footer>