
<div id="galerie-grid-container">
<% 
vectLuni=["ianuarie","februarie","martie","aprilie","mai","iunie","iulie","august","septembrie","octombrie","noiembrie","decembrie"];
let contorAfisaj = 0;
const limitImagini = 10;

    for (let imag of locals.imagini) { 
        if(contorAfisaj >= limitImagini) break;
        
        lunaCurenta=vectLuni[new Date().getMonth()]; 
        if(imag.luni?.includes(lunaCurenta))
    { %>
    
    <figure>
        <picture>
            <source srcset="<%- imag.fisier_mediu %>" media="screen and (max-width:1100px)">
            <img src="<%- imag.fisier %>" alt="<%- imag.alt %>">
            <figcaption><%- imag.text_descriere %></figcaption>
        </picture>
    </figure>
    <% contorAfisaj++; } %>
        <%} %>
</div>