<header>
        <h1>Distortion for the Weak</h1>
            <p>Greatest source of metal music</p>
        <!--<img src="/Resurse/imagini/death_human.png" alt="sigla" /> -->
    
        <nav>
            <!-- <label id="hamburger" for="ch-menu">
                <i class="fa-solid fa-bars"></i>    
            </label> -->
            <label id="hamburger" for="ch-menu">
                <span class="ham"></span>    
                <span class="ham"></span>    
                <span class="ham"></span>    
            </label>
            <input type="checkbox" id="ch-menu"/>
            <ul class="meniu">
                <li>
                    <div class="imag-icon" id="acasa-mediu">
                        <i class="fa-solid fa-house"></i>
                    </div>
                    <div class="text-icon" id="acasa">Acasa</div>
                    <ul>
                        <li><a href="#welcome">Bine ati venit</a></li>
                        <li><a href="#promotii">Promotii</a></li>
                    </ul>
                </li>
                <li>
                    <i class="fa-solid fa-music"></i>
                    <div class="text-icon" id="ablume">Albume</div>
                </li>
                <li>
                    <i class="fa-solid fa-guitar"></i>
                    <div class="text-icon" id="trupe">Trupe</div>
                </li>
                <li>
                    <i class="fa-solid fa-user"></i>
                    <div class="text-icon" id="register">Register</div>
                </li>
                <li>
                    <i class="fa-solid fa-circle-info"></i>
                    <div class="text-icon" id="despre"><a href="/despre">Despre Noi</a></div>
                </li>
            </ul>
        </nav>
    </header>